body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* LINKS */
a {
  text-decoration: transparent;
}
a:visited {
  text-decoration: none;
  color: black;
}

/*NAV STYLE*/
nav {
  padding: 20px;
  background-color: #f9fafb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cbd5e1;
}

nav div > a:first-child {
  padding-right: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
}

ul > li:first-child {
  padding-right: 20px;
}

nav a:hover {
  text-decoration: underline;
  transition: 0.3s ease-out;
}

.greet-user {
  margin: 0;
  padding-right: 1.5rem;
  font-weight: bold;
}

/*MAIN CONTAINER*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 4rem;
}

/*FORM*/

form {
  background-color: #f8fafc;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cbd5e1;
  margin-top: 8rem;
  padding: 2rem;
}

form input {
  width: 300px;
}

form label {
  margin: 0.5rem;
}

form button {
  margin: 1rem;
}

form h2 {
  text-align: center;
}

/*BUTTONS*/
button {
  border: 2px solid #404040;
  border-radius: 4px;
  background-color: #f8fafc;
  padding: 5px 10px;
  transition: 0.3s ease-out;
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: #404040;
  color: white;
}

.form-buttons {
  display: flex;
}

/*WORKOUTS*/
.workout {
  border: 1px solid #cbd5e1;
  margin-bottom: 12px;
  background-color: #f8fafc;
}

.workout button {
  margin: 5px;
}

.top-card {
  background-color: #f1f5f9;
  border-bottom: 1px solid #c2ccd7;
  text-align: center;
  padding: 3px;
}

.bottom-card {
  padding: 0 10px 10px 10px;
}

/* WORKOUT TABLE*/
table {
  border: 1px solid black;
  border-collapse: collapse;
}

table td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  width: 100px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-weight: 500;
  background-color: #f0fdf4;
}

caption {
  font-weight: 600;
  margin: 5px 0;
}

/* SPINNER */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
